.container {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
  gap: 20px;
  border: 1px solid #c2bfbf;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 10px;
}